@import './variables.css';

body {
  font-family: var(--font-family);
  font-size: var(--font-medium);
  color: var(--color-default);
}

a {
  color: var(--color-black);
  text-decoration: none;
}

a:visited {
  color: var(--color-default);
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1428px;
  margin-right: auto;
  margin-left: auto;
}

.hn-main {
  background-color: var(--bg-secondary);
}
