@import './variables.css';

/* Basscss Typography */

.bold { font-weight: var(--bold-font-weight, bold); }
.regular { font-weight: normal; }
.italic { font-style: italic; }

.caps {
  text-transform: uppercase;
  letter-spacing: var(--caps-letter-spacing);
}

.left-align { text-align: left; }
.center { text-align: center; }
.right-align { text-align: right; }
.justify { text-align: justify; }

.line-height-1 { line-height: var(--line-height-1); }
.line-height-2 { line-height: var(--line-height-2); }
.line-height-3 { line-height: var(--line-height-3); }
.line-height-4 { line-height: var(--line-height-4); }

/* Basscss Border */

.border {
  border-style: solid;
  border-width: var(--border-width);
}

/* Basscss Hide */

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (--breakpoint-sm) {
  .sm-hide { display: none !important; }
}

@media (--breakpoint-md) {
  .md-hide { display: none !important; }
}

@media (--breakpoint-lg) {
  .lg-hide { display: none !important; }
}

/* color */
.color-default {
  color: var(--color-default);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-primary {
  color: var(--color-primary);
}
