:root {
  --font-family: "verdana", "geneva", sans-serif;

  /* font size */
  --font-medium: 10pt;
  --font-small: 8pt;
  --font-large: 12pt;

  /* font colors */
  --color-default: #828282;
  --color-primary: #f60;
  --color-secondary: #ab4402;
  --color-black: #000;
  --color-white: #fff;

  /* background colors */
  --bg-primary: #f60;
  --bg-secondary: #f6f6ef;
  --bg-tertiary: #e6e6df;

  /* spacing */
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  /* line hight */
  --line-height-1: 1;
  --line-height-2: 1.125;
  --line-height-3: 1.25;
  --line-height-4: 1.5;

  /* border */
  --border-width: 1px;
  --border-color: #f60;
}

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
