@import '../../../styles/variables.css';

.nav a {
  color: var(--color-black);
  font-size: var(--font-medium);
}

.nav a:visited {
  color: var(--color-black);
}

a.active {
  color: var(--color-white);
}

a.active:visited {
  color: var(--color-white);
}

.sep {
  color: var(--color-black);
}
