.vote {
  width: 70px;
  justify-content: center;
  align-items: center;
}

.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 0px 5px 2px;
  background-image: url(../../../assets/grayarrow2x.gif);
  background-size: 10px;
}
