
.vote {
  width: 75px;
  justify-content: center;
  align-items: center;
}

.high {
  color: var(--color-primary);
}

.modrate {
  color: var(--color-secondary);
}

.low {
  color: var(--color-black);
}

.votearrow {
  width: 10px;
  height: 14px;
  background-image: url(../../../assets/grayarrow2x.gif);
  background-size: 10px;
  display: block;
}

.votearrowhide {
  width: 26px;
  height: 20px;
  display: block;
}

@media (--breakpoint-md) {
  .vote {
    justify-content: flex-end;
  }
}
